<body>
	<% coords = nil %>
	<% if cookies().key?("lat_lng") %>
		<% coords = cookies[:lat_lng].split("|") %>
	<% end %>
					
	<div id='topic-title'><%= @topic.title =%></div>
	<%= render partial: 'post_partial', :locals => {:topicvar => @topic, :is_firstpost => true, :coords => coords} %> 

	<% for post in @topic.posts %>
		<%= render partial: 'post_partial', :locals => {:topicvar => post, :is_firstpost => false, :coords => coords} %>
	<% end %>
	<div class="new-post"><%= render :partial => 'posts/new' %></div>
</body>
