// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$main-font: 'Open Sans', sans-serif;
$background-color: #e699ff;
$post-color: #911A2A;
$topic-color: #F02B45;
$mobile-font-size: 0.8em;
$thumb-height: 20vw;
$thumb-width: 20vw;

body{
	font: 100% $main-font;
	background-color: $background-color;
}

#topic-title{
	font-size: 2em;
	text-align: center;
}

.post-topic{
	display: table;
	height: 20%;
	width: 75%;
	overflow: auto;
	margin: 1vh;
	padding: 1vh;	
}

.post-wrapper{
	display: table-row;
	height: 0px;
}

.post-time{
	font-style: italic;
	position: absolute;
	bottom: 1vh;
	right: 1vw;
}

.right-post-container{
	border: 1px solid #000;
	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: top;
	position: relative;
	background-color: #AFFBFC;
	-webkit-box-shadow: 3px 7px 11px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 3px 7px 11px 3px rgba(0,0,0,0.15);
	box-shadow: 3px 7px 11px 3px rgba(0,0,0,0.15);
}

.post-id{
	position: absolute;
	right: 1vw;
	cursor: pointer;
}

.post-content{
	display: inline-block;
	margin: 3vh 0 5vh 1vw;
	a{
		text-decoration: none;
	}
}

.post-thumb {
	display: table-cell;
	height: 150px;
	width: 150px;
	margin-right: 10px;
	float: left;
	img{ border: solid 1px #000;}
}

.post-distance{
	font-style: italic;
	position: absolute;
	bottom: 1vh;
	left: 1vw;
}

.quote{
	color: rgba(122,33,138,0.6);
	font-style: italic; 
	display: inline-block;
}

.post-form{
	width: 70%;
	height: 25vh;
}

.post-content a{
	text-decoration: none;
	font-weight: bold;
	color: #760D0D;
}

@media(max-width: 768px){
	.post-topic{
		width: 100%;
		margin: 1vh auto;
		font-size: $mobile-font-size;
	}
	.post-thumb{
		height: $thumb-height;
		width: $thumb-width;
		img{
			height: $thumb-height;
			width: $thumb-width;
		}
	}
	.post-time{
		bottom: 1vh;
		left: 1vh;
		font-size: 0.6em;
	}
	.post-distance{
		bottom: 3vh;
		left: 1vh;
		font-size: 0.6em;
	}
	.post-content{
		margin-bottom: 6vh;
	}
}
